* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1266px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 41px;
}

.logo-header {
  width: 100px;
  height: 68px;
}

.logo-header img {
  width: 100%;
}

.navbar-header ul {
  display: flex;
  gap: 37px;
  padding: 25px;
  transition: all 0.7s;
}
.navbar-header ul :hover {
  transform: scale(1.1);
}
.navbar-header ul li {
  list-style: none;
}

.navbar-header ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
}

.contact-header {
  display: flex;
  gap: 33px;
  padding-top: 25px;
  font-weight: 600;
  font-size: 15px;
}
.contact-header p {
  padding-right: 34px;
  border-right: 1px solid #dad8d8;
  height: 25px;
}

.contact-header span {
  padding-left: 7px;
}

.navbar-header ul li a.active {
  border-bottom: 2px solid #b00000;
  padding-bottom: 6px;
}

/* hero */

.hero {
  padding-top: 72px;
  display: flex;
  gap: 57px;
}

.content-hero {
  width: 50%;
}

.narbar-hero ul {
  display: inline-flex;
  gap: 24px;
  border-bottom: 1px solid #d6d4d4;
}

.narbar-hero ul li {
  list-style: none;
}

.narbar-hero ul li a {
  text-decoration: none;
  color: #d6d4d4;
}
.narbar-hero ul li a.active {
  color: #b00000;
  padding-bottom: 4px;
  position: relative;
}

.narbar-hero ul li a.active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background-color: #b00000;
}

.content-hero h1 {
  padding-top: 26px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77.5px;
}

.content-hero p {
  padding: 34px 0 60px 0;
}

.btn-hero .btn-1 {
  padding: 12px 17px;
  color: #fff;
  background-color: #b00000;
  border-radius: 8px;
  border: none;
  margin-right: 25px;
  box-shadow: 0px 0px 64px 0px #b000004d;
  cursor: pointer;
  transition: all 0.7s;
}

.btn-hero .btn-2 {
  padding: 12px 17px;
  color: #000000;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #000000;
  cursor: pointer;
  transition: all 0.7s;
}
.btn-hero .btn-1:hover,
.btn-hero .btn-2:hover {
  transform: scale(1.1);
}
.img-hero {
  width: 45%;
  position: relative;
}
.img-hero img {
  width: 90%;
  cursor: pointer;
  transition: all 0.7s;
}
.img-hero img:hover {
  transform: scale(1.1);
}
.triang-1 {
  position: absolute;
  top: 303px;
  right: 507px;
  border-bottom: 20px solid #b00000;
  border-left: 20px solid #b00000;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
}

.triang-2 {
  position: absolute;
  top: 63px;
  left: 450px;
  border-bottom: 20px solid #b00000;
  border-right: 20px solid #b00000;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
}

.triang-3 {
  position: absolute;
  top: 350px;
  left: 410px;
  border-bottom: 40px solid #b00000;
  border-right: 40px solid #b00000;
  border-left: 40px solid transparent;
  border-top: 40px solid transparent;
}

/* introduc */

.introduce {
  padding-top: 78px;
  display: flex;
  gap: 77px;
}

.content-introduce {
  width: 47%;
}

.logo-introduce {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  gap: 59px;
  padding-top: 20px;
}
.content-introduce h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

.content-introduce p {
  padding-top: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.logo-introduce img {
  width: 140px;
  height: 40px;
}
